<div id="<%= dom_id mail_template %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= mail_template.name %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= mail_template.subject %>
  </p>

</div>
