<h1>Editing mail template</h1>

<%= render "form", mail_template: @mail_template %>

<br>

<div>
  <%= link_to "Show this mail template", @mail_template %> |
  <%= link_to "Back to mail templates", mail_templates_path %>
</div>
